.d-header {
  .wrap {
    padding: 0 1.5rem 0 1.6rem;
  }
  #site-logo {
    max-height: 1.6em;
  }
}

.nav-pills {
  & > li {
    margin-right: 0;
  }
  & > li > a {
    padding: 0.75rem 0.85rem 0.4rem;
  }
}

.list-controls {
  ol.category-breadcrumb {
    padding-left: 0;
  }
  .nav-pills {
    margin: 0 1rem;
    li a .d-icon{
      color: white;
      opacity: 1;
    }
    .navigation-toggle {
      //border-radius: 2rem;
      overflow: hidden;
     // min-width: 220px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-color: #4a13a0;
    border-right-color: #4a13a0;
    border-bottom-color: #4a13a0;
    border-left-color: #4a13a0;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    background-color: #4a13a0;
      .toggle-link{
        color: white;
      }
    }
  }

  .nav-pills>li>a:hover{
    border-bottom-color: var(--dgb-orange-color)
  }

  .nav-pills>li>a.active{
    color: var(--dgb-blue-color);
    background-color: transparent;
    border-bottom-color: var(--dgb-blue-color) !important;
    font-weight: bold;
  }

  #create-topic {
    position: fixed;
    bottom: 5vh;
    top: auto;
    right: 5vw;
    z-index: 3;
    padding: 1rem;
  }
}

#list-area .top-lists h2 {
  padding-top: 0.5rem;
}

.topic-list td {
  padding: 1rem 0;
}

.topic-list-item .main-link:first-of-type {
  padding-left: 0;
}

.top-section:not(.stats-section):not(.badges-section) {
  display: block;
  .pull-right,
  .pull-left {
    float: none;
  }
}

.container {
  &.posts,
  &.list-container,
  .user-content {
    margin: 0 -10px;
    padding: 1rem 1.5rem;
  }
  &.posts > .row {
    max-width: calc(100vw - 3rem);
    
  }
}

.row > span {
  color: yellow;
}


.category-list-item {
  border-right: 1px solid var(--primary-low) !important;
}

#topic-title {
  .title-wrapper {
    box-sizing: border-box;
    margin: 0 -10px;
    padding: 1.5rem 1.5rem 0;
  }
}

.topic-avatar {
  padding-top: 7px;
  margin-right: 0;
  img {
    width: 32px;
    height: auto;
  }
}

.topic-meta-data {
  margin-left: 40px;
}




// Topic Post Overrides 
.topic-post{
  margin-bottom: 1em;
  background: #fff;
  box-sizing: border-box;
  border: none;
  padding: 1em;
  box-shadow: 0px 2px 2pxrgba(0,0,0,0.12),0px 0px 2pxrgba(0,0,0,0.14); 
}

.topic-post .topic-avatar{
  padding-right: 10px;
  margin-right: 10px !important;
}

.topic-post {
  article {
    border-top: none;
  }
  .row {
    padding-top: 2rem;
  }
}
.topic-post:first-child {
  article {
    border-top: none;
  }
}

.topic-list tbody {
  border-top: none;
}

.topic-meta-data {
  align-items: center;
}

.login-modal tr td label,
.create-account tr td label {
  max-width: unset;
}

.list-controls .btn {
  top: 0;
}

.submit-panel{
  .mobile-file-upload {
    svg{
      color: white;
    }
  }
  .mobile-preview {
    svg{
      color: white;
    }
  }
}

.composer-controls .d-icon{
  
      color: white !important;
  

}




// User Card Tweaks
.user-card {
  background: none !important; // This is a conscious override to the custom background behavior.
  overflow: hidden;

  .card-row:not(.first-row) {
    margin: 2rem 0 1rem;
    font-size: 12px;
    padding-left: 0px;
  }
}

.user-main .about .controls .btn{
  color: white;
  svg{
    color: white;
  }
}

.display-row .controls .btn{
  color: white;
}

.btn[href]{
  color: white;
}
.user-invites-page .user-additional-controls .user-invite-buttons .btn{
  color: white;
  svg{
    color: white;
  }
}


#reply-control #reply-title {
  background-color: grey !important;
}

#reply-control .mini-tag-chooser .select-kit-header {
  background-color: grey;
}

#reply-control .category-input .category-chooser .select-kit-header {
  background-color: grey;
}
/*
#reply-control .category-input .category-chooser .select-kit-header:focus {
  outline: #4a13a0 !important;
 
}

#reply-control .mini-tag-chooser .select-kit-header:focus {
 background-color: red;
}

.d-editor-textarea-wrapper textarea:focus-within {
  outline:  none !important;
//  border-color: #719ECE;
border: thin solid #4a13a0 !important;

  //background-color: green;
}

.d-editor-textarea-wrapper textarea {
  outline: none !important
}
*/

#topic-progress-wrapper{
  .topic-admin-menu-button-container{
    .topic-admin-menu-button{
      button{
        svg{
          color:white
        }
      }
    }
  }
}

#topic-footer-buttons {
  .topic-footer-main-buttons{
    .topic-admin-menu-button-container {
      .topic-admin-menu-button{
        .btn-icon{
          svg{
            color: white;
          }
        }
      }
    }
  }
}


.select-kit .select-kit-header .caret-icon {
  color: white;
}


#topic-footer-buttons .topic-notifications-button .reason .dropdown-select-box .name {
  color: white;
}

.select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--dgb-orange-color);
}



@media screen and (max-width: 850px){
  // Topic Overrides
  .topic-list .topic-list-data{
    padding: 12px 5px !important;
  }
  .topic-list td.activity, 
  .topic-list td.views, 
  .topic-list td.posts-map, 
  .topic-list th.activity, 
  .topic-list th.views, 
  .topic-list th.posts-map {
      padding: 0 24px !important;
  }

  .topic-list tbody tr .main-link {
    padding: 0px;
  }
  .topic-post .topic-body{
    padding: 0px;
  }
  .topic-post article{
    padding: 0px;
  }
  .topic-post .row{
    padding-top: 0px;
  }
  .topic-post:first-child .row{
    padding-top: 0px;
  }

}

