.container {
  &.posts {
    background-color: var(--main-background);
  }
}

.d-header {
  .wrap {
    padding: 0 1.5rem 0 1.6rem;
  }
  #site-logo {
    max-height: 1.6em;
  }
}

.nav-pills {
  & > li {
    margin-right: 0;
  }
  & > li > a {
    padding: 0.75rem 0.85rem 0.4rem;
  }
}

.list-controls {
  ol.category-breadcrumb {
    padding-left: 0;
  }
  .nav-pills {
    margin: 0 1rem;
    li a .d-icon{
      color: white;
      opacity: 1;
    }
    .navigation-toggle {
      //border-radius: 2rem;
      overflow: hidden;
     // min-width: 220px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-color: #4a13a0;
    border-right-color: #4a13a0;
    border-bottom-color: #4a13a0;
    border-left-color: #4a13a0;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    background-color: #4a13a0;
      .toggle-link{
        color: white;
      }

    }
  }
  #create-topic {
    position: fixed;
    bottom: 5vh;
    top: auto;
    right: 5vw;
    z-index: 3;
    padding: 1rem;
  }
}

#list-area .top-lists h2 {
  padding-top: 0.5rem;
}

.topic-list td {
  padding: 1rem 0;
}

.topic-list-item .main-link:first-of-type {
  padding-left: 0;
}

.top-section:not(.stats-section):not(.badges-section) {
  display: block;
  .pull-right,
  .pull-left {
    float: none;
  }
}

.container {
  &.posts,
  &.list-container,
  .user-content {
    margin: 0 -10px;
    padding: 1rem 1.5rem;
  }
  &.posts > .row {
    max-width: calc(100vw - 3rem);
    
  }
}

.row > span {
  color: yellow;
}


.category-list-item {
  border-right: 1px solid var(--primary-low) !important;
}

#topic-title {
  .title-wrapper {
    box-sizing: border-box;
    margin: 0 -10px;
    padding: 1.5rem 1.5rem 0;
  }
}

.topic-avatar {
  padding-top: 7px;
  margin-right: 0;
  img {
    width: 32px;
    height: auto;
  }
}

.topic-meta-data {
  margin-left: 40px;
}

.topic-post {
  article {
    border-top: none;
  }
  .row {
    padding-top: 2rem;
  }
}
.topic-post:first-child {
  article {
    border-top: none;
  }
}

.topic-list tbody {
  border-top: none;
}

.topic-meta-data {
  align-items: center;
}

.login-modal tr td label,
.create-account tr td label {
  max-width: unset;
}

.list-controls .btn {
  top: 0;
}

.submit-panel{
  .mobile-file-upload {
    svg{
      color: white;
    }
  }
  .mobile-preview {
    svg{
      color: white;
    }
  }
}

.composer-controls .d-icon{
  
      color: white !important;
  

}

// #reply-control {
//   .reply-area{
//     input:focus {
//       outline: none !important;
//      border:1px solid red;
//     }
//   }
// }

#reply-control #reply-title {
  outline: #4a13a0 !important;
  //border:1px solid #4a13a0 !important;
}

#reply-control .category-input .category-chooser .select-kit-header:focus {
  outline: #4a13a0 !important;
 
}

#reply-control .mini-tag-chooser .select-kit-header:focus {
  outline: #4a13a0 !important;
  //border:1px solid #4a13a0 !important;
}

.d-editor-textarea-wrapper textarea:focus-within {
  outline:  none !important;
//  border-color: #719ECE;
border: thin solid #4a13a0 !important;

  //background-color: green;
}

.d-editor-textarea-wrapper textarea {
  outline: none !important
}