@import "variables";

.container {
  &.list-container,
  .user-content {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.12),0px 0px 2px rgba(0,0,0,0.14);
  }
  &.list-container {
    padding: 24px 48px;
  }
  &.posts {
    & > .row {
      //background: var(--main-background);
      //background-color: red;
      padding: 1.5rem 2.5rem;
      border-radius: 0.5rem;
    }
  }
}

#topic-title {
  .topic-statuses {
    font-size: 3.4rem;
  }
  .title-wrapper {
    width: 70%;
    padding: 0 2.5rem;
  }
  h1 {
    a {
      font-size: 3.4rem;
    }
    .edit-topic {
      font-size: 1em;
    }
  }
}

.user-menu .quick-access-panel ul {
  gap: 0 1em; // the column needs some more horizontal gap due to the way we handle overflow in columns
}

.search-container .search-advanced .search-title button,
.list-controls .select-kit.categories-admin-dropdown button {
  @extend %btn--big;
}

.category-breadcrumb {
  margin-top: -0.4em; // vertical alignment
}


#topic-progress-wrapper{
  .topic-admin-menu-button-container{
    .topic-admin-menu-button{
      button{
        svg{
          color:white
        }
      }
    }
  }
}

#topic-footer-buttons {
  .topic-footer-main-buttons{
    .topic-admin-menu-button-container {
      .topic-admin-menu-button{
        .btn-icon{
          svg{
            color: white;
          }
        }
      }
    }
  }
}

.select-kit .select-kit-header .caret-icon {
  color: white;
}


#topic-footer-buttons .topic-notifications-button .reason .dropdown-select-box .name {
  color: white;
}


.select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--dgb-orange-color);
}


// Topic Overrides
.topic-list tbody{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.12),0px 0px 2px rgba(0,0,0,0.14);
}
.topic-list tbody tr {
    background: #fff;
}
.topic-list .topic-list-data{
  padding: 12px 5px;
}
.topic-list tbody tr .main-link{
  padding: 48px
}
.topic-list td.activity, 
.topic-list td.views, 
.topic-list td.posts-map, 
.topic-list th.activity, 
.topic-list th.views, 
.topic-list th.posts-map {
    padding: 0 24px;
}