@import "variables";

.container {
  &.list-container,
  .user-content {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }
  &.list-container {}
  &.posts {
    & > .row {
      padding: 1.5rem 2.5rem;
      border-radius: 0.5rem;
    }
  }
}

.user-menu .quick-access-panel ul {
  gap: 0 1em; // the column needs some more horizontal gap due to the way we handle overflow in columns
}

.search-container .search-advanced .search-title button,
.list-controls .select-kit.categories-admin-dropdown button {
  @extend %btn--big;
}

.category-breadcrumb {
  margin-top: -0.4em; // vertical alignment
}


#topic-progress-wrapper{
  .topic-admin-menu-button-container{
    .topic-admin-menu-button{
      button{
        svg{
          color:white
        }
      }
    }
  }
}

#topic-footer-buttons {
  .topic-footer-main-buttons{
    .topic-admin-menu-button-container {
      .topic-admin-menu-button{
        .btn-icon{
          svg{
            color: white;
          }
        }
      }
    }
  }
}

.select-kit .select-kit-header .caret-icon {
  color: white;
}


#topic-footer-buttons .topic-notifications-button .reason .dropdown-select-box .name {
  color: white;
}


.select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--dgb-orange-color);
}

@media screen and (max-width: 850px){
  // Topic Overrides
  .topic-list .topic-list-data{
    padding: 12px 5px !important;
  }
  .topic-list tbody tr .main-link{
    padding: 48px !important;
  }
  .topic-list td.activity, 
  .topic-list td.views, 
  .topic-list td.posts-map, 
  .topic-list th.activity, 
  .topic-list th.views, 
  .topic-list th.posts-map {
      padding: 0 24px !important;
  }
}